cc_library(
    name = "{{ lib_name }}",
    srcs = glob(["src/**"]),
    hdrs = glob(["include/**"]),
    includes = ["include"],
    deps = [
        "@score-runtime//base",
{% if has_parameters %}
        "//src-gen/parameter:parameter",
{% endif %}
{% if has_internal_state %}
        "//src-gen/internal_state:internal_state",
{% endif %}
{% if has_inputs or has_outputs %}
        "//src-gen/interfaces:interfaces",
{% endif %}
    ],
    visibility = ["//visibility:public"],
)

cc_test(
    name = "unit_test",
    srcs = glob(["test/**"]),
    deps = [
        ":{{ lib_name }}",
        "@googletest//:gtest_main",
{% if has_parameters %}
        "//src-gen/parameter:parameter",
{% endif %}
{% if has_internal_state %}
        "//src-gen/internal_state:internal_state",
{% endif %}
{% if has_inputs or has_outputs %}
        "//src-gen/interfaces:interfaces",
{% endif %}
    ],
)
